<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
		<h1>Enter the Secret Code</h1>
		<form id="member-form" action="" method="POST">
			<label for="code">Secret Code</label>
			<input id="code" name="code" type="text" />
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
